-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: assetone_db
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `asset_categories`
--

DROP TABLE IF EXISTS `asset_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asset_categories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `created_by` int(11) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `created_by` (`created_by`),
  KEY `updated_by` (`updated_by`),
  CONSTRAINT `fk_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asset_categories`
--

LOCK TABLES `asset_categories` WRITE;
/*!40000 ALTER TABLE `asset_categories` DISABLE KEYS */;
INSERT INTO `asset_categories` VALUES (3,'Laptop',1,1,'2025-08-01 22:05:54','2025-08-01 22:05:54'),(4,'Desktop',1,1,'2025-08-01 22:06:01','2025-08-01 22:06:01');
/*!40000 ALTER TABLE `asset_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asset_units`
--

DROP TABLE IF EXISTS `asset_units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asset_units` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `asset_id` int(11) DEFAULT NULL,
  `brand` varchar(100) DEFAULT NULL,
  `lifecycle_status` enum('active','retired','disposed','lost') NOT NULL DEFAULT 'active',
  `operational_status` enum('available','in_use','on_stock','transferred','under_inspection','under_investigation','under_repair','repaired','for_repair','broken') NOT NULL DEFAULT 'available',
  `condition` tinyint(4) NOT NULL,
  `unit_tag` varchar(255) DEFAULT NULL,
  `serial_number` varchar(255) DEFAULT NULL,
  `department_id` int(11) DEFAULT NULL,
  `sub_location_id` int(11) DEFAULT NULL,
  `vendor_id` int(11) DEFAULT NULL,
  `acquisition_cost` decimal(10,2) DEFAULT 0.00,
  `useful_life_years` int(11) DEFAULT 0,
  `depreciation_method` enum('straight_line','declining_balance') NOT NULL,
  `depreciation_rate` decimal(5,4) NOT NULL,
  `acquisition_date` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `updated_by` int(11) DEFAULT NULL,
  `is_deleted` tinyint(1) DEFAULT 0,
  `deleted_at` datetime DEFAULT NULL,
  `deleted_by` int(11) DEFAULT NULL,
  `assigned_user_id` int(11) DEFAULT NULL,
  `is_legacy` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unit_tag` (`unit_tag`),
  UNIQUE KEY `serial_number` (`serial_number`),
  KEY `fk_assets_created_by` (`created_by`),
  KEY `fk_assets_updated_by` (`updated_by`),
  KEY `fk_assets_deleted_by` (`deleted_by`),
  KEY `fk_assets_assigned_user_id` (`assigned_user_id`),
  KEY `fk_assets_asset_id` (`asset_id`),
  KEY `fk_assets_department_id` (`department_id`),
  KEY `fk_assets_sub_location_id` (`sub_location_id`),
  KEY `fk_assets_vendor_id` (`vendor_id`),
  CONSTRAINT `fk_assets_asset_id` FOREIGN KEY (`asset_id`) REFERENCES `assets` (`id`),
  CONSTRAINT `fk_assets_assigned_user_id` FOREIGN KEY (`assigned_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_assets_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_assets_deleted_by` FOREIGN KEY (`deleted_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_assets_department_id` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `fk_assets_sub_location_id` FOREIGN KEY (`sub_location_id`) REFERENCES `sub_locations` (`id`),
  CONSTRAINT `fk_assets_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_assets_vendor_id` FOREIGN KEY (`vendor_id`) REFERENCES `vendors` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asset_units`
--

LOCK TABLES `asset_units` WRITE;
/*!40000 ALTER TABLE `asset_units` DISABLE KEYS */;
INSERT INTO `asset_units` VALUES (1,1,'Dell','disposed','available',0,NULL,NULL,3,14,NULL,0.00,0,'straight_line',0.0000,NULL,'2025-08-02 21:50:34',1,'2025-08-20 23:14:00',1,1,'2025-08-20 09:16:33',1,20,0),(2,1,'123','active','available',0,'123','123',5,NULL,NULL,0.00,0,'straight_line',0.0000,NULL,'2025-08-21 00:25:48',1,'2025-08-21 00:40:24',1,0,NULL,NULL,17,1),(3,1,'AAA','active','available',0,'ABC-123','121212',1,6,NULL,0.00,0,'straight_line',0.0000,NULL,'2025-08-21 00:40:04',1,'2025-08-21 00:40:16',1,0,NULL,NULL,5,1);
/*!40000 ALTER TABLE `asset_units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assets`
--

DROP TABLE IF EXISTS `assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type` varchar(100) NOT NULL,
  `category_id` int(11) NOT NULL,
  `created_by` int(11) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `is_deleted` tinyint(1) NOT NULL DEFAULT 0,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `deleted_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `category_id` (`category_id`),
  KEY `created_by` (`created_by`),
  KEY `updated_by` (`updated_by`),
  KEY `deleted_by` (`deleted_by`),
  CONSTRAINT `assets_ibfk_1` FOREIGN KEY (`category_id`) REFERENCES `asset_categories` (`id`),
  CONSTRAINT `assets_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `assets_ibfk_3` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`),
  CONSTRAINT `assets_ibfk_4` FOREIGN KEY (`deleted_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assets`
--

LOCK TABLES `assets` WRITE;
/*!40000 ALTER TABLE `assets` DISABLE KEYS */;
INSERT INTO `assets` VALUES (1,'aaaaa',3,1,1,'2025-08-02 01:42:46','2025-08-20 08:42:40',0,NULL,NULL),(2,'Dell PC',3,1,1,'2025-08-02 01:44:34','2025-08-20 05:14:21',0,NULL,NULL),(3,'Car',3,1,1,'2025-08-17 15:34:57','2025-08-17 15:34:57',0,NULL,NULL),(4,'asd',3,1,1,'2025-08-17 15:45:56','2025-08-20 16:58:15',1,'2025-08-20 08:58:15',1);
/*!40000 ALTER TABLE `assets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `completion_requests`
--

DROP TABLE IF EXISTS `completion_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `completion_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `schedule_occurrence_id` int(11) NOT NULL,
  `requested_by` int(11) NOT NULL,
  `requested_at` datetime DEFAULT current_timestamp(),
  `approved_by` int(11) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `schedule_occurrence_id` (`schedule_occurrence_id`),
  KEY `requested_by` (`requested_by`),
  KEY `approved_by` (`approved_by`),
  CONSTRAINT `completion_requests_ibfk_1` FOREIGN KEY (`schedule_occurrence_id`) REFERENCES `schedule_occurrences` (`id`) ON DELETE CASCADE,
  CONSTRAINT `completion_requests_ibfk_2` FOREIGN KEY (`requested_by`) REFERENCES `users` (`id`),
  CONSTRAINT `completion_requests_ibfk_3` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `completion_requests`
--

LOCK TABLES `completion_requests` WRITE;
/*!40000 ALTER TABLE `completion_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `completion_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department_locations`
--

DROP TABLE IF EXISTS `department_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `department_locations` (
  `department_id` int(11) NOT NULL,
  `location_id` int(11) NOT NULL,
  PRIMARY KEY (`department_id`,`location_id`),
  KEY `location_id` (`location_id`),
  CONSTRAINT `department_locations_ibfk_1` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE CASCADE,
  CONSTRAINT `department_locations_ibfk_2` FOREIGN KEY (`location_id`) REFERENCES `locations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department_locations`
--

LOCK TABLES `department_locations` WRITE;
/*!40000 ALTER TABLE `department_locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `department_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `fk_departments_created_by` (`created_by`),
  KEY `fk_departments_updated_by` (`updated_by`),
  CONSTRAINT `fk_departments_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_departments_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
INSERT INTO `departments` VALUES (1,'Computer Science Department','2025-07-08 14:53:44',1,'2025-07-08 14:53:44',1),(2,'Information Technology Department','2025-07-08 14:53:44',1,'2025-07-08 14:53:44',1),(3,'Human Resource Department','2025-07-08 14:53:44',1,'2025-07-08 14:53:44',1),(4,'Accounting and Finance Department','2025-07-08 14:53:44',1,'2025-07-08 14:53:44',1),(5,'Engineering Department','2025-07-08 14:53:44',1,'2025-07-08 14:53:44',1),(6,'Facilities and Maintenance','2025-07-08 14:53:44',1,'2025-07-08 14:53:44',1);
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `locations`
--

DROP TABLE IF EXISTS `locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `locations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `created_by` int(11) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `created_by` (`created_by`),
  KEY `updated_by` (`updated_by`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `locations`
--

LOCK TABLES `locations` WRITE;
/*!40000 ALTER TABLE `locations` DISABLE KEYS */;
INSERT INTO `locations` VALUES (1,'Laptop',1,1,'2025-07-27 22:18:31','2025-07-27 22:18:31'),(4,'Main Court',1,1,'2025-07-27 22:20:11','2025-07-27 22:20:11'),(6,'Building A',1,1,'2025-08-02 09:12:10','2025-08-02 09:12:10');
/*!40000 ALTER TABLE `locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_requests`
--

DROP TABLE IF EXISTS `password_reset_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `requested_at` datetime DEFAULT current_timestamp(),
  `approved_by` int(11) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `approved_by` (`approved_by`),
  CONSTRAINT `password_reset_requests_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `password_reset_requests_ibfk_2` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_requests`
--

LOCK TABLES `password_reset_requests` WRITE;
/*!40000 ALTER TABLE `password_reset_requests` DISABLE KEYS */;
INSERT INTO `password_reset_requests` VALUES (1,1,'approved','2025-07-08 20:43:54',1,'2025-07-08 20:44:04'),(2,1,'approved','2025-07-08 20:49:05',1,'2025-07-08 20:49:12'),(3,1,'pending','2025-08-06 23:16:19',NULL,NULL),(4,5,'approved','2025-08-06 23:30:58',1,'2025-08-06 23:38:33');
/*!40000 ALTER TABLE `password_reset_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_occurrences`
--

DROP TABLE IF EXISTS `schedule_occurrences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_occurrences` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `template_id` int(11) NOT NULL,
  `scheduled_date` date NOT NULL,
  `completed_at` datetime DEFAULT NULL,
  `completed_by` int(11) DEFAULT NULL,
  `skipped_at` datetime DEFAULT NULL,
  `skipped_by` int(11) DEFAULT NULL,
  `skipped_reason` text DEFAULT NULL,
  `skipped_context` enum('pending','overdue') DEFAULT NULL,
  `status` enum('pending','in_progress','completed','skipped','overdue') DEFAULT 'pending',
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `started_at` datetime DEFAULT NULL,
  `started_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `template_id` (`template_id`),
  CONSTRAINT `schedule_occurrences_ibfk_1` FOREIGN KEY (`template_id`) REFERENCES `schedule_templates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_occurrences`
--

LOCK TABLES `schedule_occurrences` WRITE;
/*!40000 ALTER TABLE `schedule_occurrences` DISABLE KEYS */;
INSERT INTO `schedule_occurrences` VALUES (1,5,'2025-08-03','2025-08-05 22:02:32',1,NULL,NULL,NULL,NULL,'completed','2025-08-04 19:38:40','2025-08-05 22:02:32','2025-08-05 22:02:28',1),(2,5,'2026-01-03',NULL,NULL,NULL,NULL,NULL,NULL,'pending','2025-08-05 22:02:33','2025-08-05 22:02:33',NULL,NULL);
/*!40000 ALTER TABLE `schedule_occurrences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_technicians`
--

DROP TABLE IF EXISTS `schedule_technicians`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_technicians` (
  `schedule_occurrence_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`schedule_occurrence_id`,`user_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `schedule_technicians_ibfk_1` FOREIGN KEY (`schedule_occurrence_id`) REFERENCES `schedule_occurrences` (`id`) ON DELETE CASCADE,
  CONSTRAINT `schedule_technicians_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_technicians`
--

LOCK TABLES `schedule_technicians` WRITE;
/*!40000 ALTER TABLE `schedule_technicians` DISABLE KEYS */;
INSERT INTO `schedule_technicians` VALUES (1,1);
/*!40000 ALTER TABLE `schedule_technicians` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_template_assets`
--

DROP TABLE IF EXISTS `schedule_template_assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_template_assets` (
  `schedule_template_id` int(11) NOT NULL,
  `asset_unit_id` int(11) NOT NULL,
  PRIMARY KEY (`schedule_template_id`,`asset_unit_id`),
  KEY `asset_unit_id` (`asset_unit_id`),
  CONSTRAINT `schedule_template_assets_ibfk_1` FOREIGN KEY (`schedule_template_id`) REFERENCES `schedule_templates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `schedule_template_assets_ibfk_2` FOREIGN KEY (`asset_unit_id`) REFERENCES `asset_units` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_template_assets`
--

LOCK TABLES `schedule_template_assets` WRITE;
/*!40000 ALTER TABLE `schedule_template_assets` DISABLE KEYS */;
INSERT INTO `schedule_template_assets` VALUES (1,1),(5,1);
/*!40000 ALTER TABLE `schedule_template_assets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_templates`
--

DROP TABLE IF EXISTS `schedule_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_templates` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `type` enum('CM','PM') NOT NULL,
  `frequency_value` int(11) DEFAULT NULL,
  `frequency_unit` enum('days','weeks','months') DEFAULT NULL,
  `start_date` datetime DEFAULT NULL,
  `status` enum('active','paused','stopped') DEFAULT 'active',
  `expiration_date` date DEFAULT NULL,
  `created_by` int(11) NOT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  KEY `updated_by` (`updated_by`),
  CONSTRAINT `schedule_templates_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `schedule_templates_ibfk_2` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_templates`
--

LOCK TABLES `schedule_templates` WRITE;
/*!40000 ALTER TABLE `schedule_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedule_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sub_locations`
--

DROP TABLE IF EXISTS `sub_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sub_locations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `location_id` int(11) NOT NULL,
  `name` varchar(100) NOT NULL,
  `created_by` int(11) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_room_per_location` (`location_id`,`name`),
  KEY `created_by` (`created_by`),
  KEY `updated_by` (`updated_by`),
  CONSTRAINT `sub_locations_ibfk_1` FOREIGN KEY (`location_id`) REFERENCES `locations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `sub_locations_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `sub_locations_ibfk_3` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sub_locations`
--

LOCK TABLES `sub_locations` WRITE;
/*!40000 ALTER TABLE `sub_locations` DISABLE KEYS */;
INSERT INTO `sub_locations` VALUES (6,4,'Bleachers',1,1,'2025-07-27 22:20:11','2025-07-27 22:20:11'),(7,4,'Stage',1,1,'2025-07-27 22:20:11','2025-07-27 22:20:11'),(8,4,'Locker Room',1,1,'2025-07-27 22:20:11','2025-07-27 22:20:11'),(9,4,'Announcer Booth',1,1,'2025-07-27 22:20:11','2025-07-27 22:20:11'),(11,4,'Room 203',NULL,NULL,'2025-08-02 09:10:05','2025-08-02 09:10:05'),(12,6,'Room 101',1,1,'2025-08-02 09:12:10','2025-08-02 09:12:10'),(13,6,'Room 102',1,1,'2025-08-02 09:12:10','2025-08-02 09:12:10'),(14,6,'Storage Area',1,1,'2025-08-02 09:12:10','2025-08-02 09:12:10');
/*!40000 ALTER TABLE `sub_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `first_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `role` enum('system_administrator','operational_administrator','maintenance_head','department_manager','maintenance_technician','finance','reporter') NOT NULL,
  `contact_number` varchar(20) DEFAULT NULL,
  `secondary_email` varchar(100) DEFAULT NULL,
  `department_id` int(11) DEFAULT NULL,
  `priority_score` int(11) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `updated_by` int(11) DEFAULT NULL,
  `is_deleted` tinyint(1) DEFAULT 0,
  `deleted_at` datetime DEFAULT NULL,
  `deleted_by` int(11) DEFAULT NULL,
  `user_status` enum('active','inactive','suspended','pending') NOT NULL DEFAULT 'active',
  `availability_status` enum('available','unavailable','on_leave') NOT NULL DEFAULT 'available',
  `priority_level` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_users_created_by` (`created_by`),
  KEY `fk_users_updated_by` (`updated_by`),
  KEY `fk_users_deleted_by` (`deleted_by`),
  KEY `fk_users_department_id` (`department_id`),
  CONSTRAINT `fk_users_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_users_deleted_by` FOREIGN KEY (`deleted_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_users_department_id` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `fk_users_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendor_offers`
--

DROP TABLE IF EXISTS `vendor_offers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendor_offers` (
  `vendor_id` int(11) NOT NULL,
  `asset_category_id` int(11) NOT NULL,
  PRIMARY KEY (`vendor_id`,`asset_category_id`),
  KEY `asset_category_id` (`asset_category_id`),
  CONSTRAINT `vendor_offers_ibfk_1` FOREIGN KEY (`vendor_id`) REFERENCES `vendors` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `vendor_offers_ibfk_2` FOREIGN KEY (`asset_category_id`) REFERENCES `asset_categories` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendor_offers`
--

LOCK TABLES `vendor_offers` WRITE;
/*!40000 ALTER TABLE `vendor_offers` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendor_offers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendors`
--

DROP TABLE IF EXISTS `vendors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendors` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `contact_person` varchar(100) DEFAULT NULL,
  `email_address` varchar(100) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  KEY `updated_by` (`updated_by`),
  CONSTRAINT `vendors_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `vendors_ibfk_2` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendors`
--

LOCK TABLES `vendors` WRITE;
/*!40000 ALTER TABLE `vendors` DISABLE KEYS */;
INSERT INTO `vendors` VALUES (3,'Acer PH Inc.','Official supplier for IT equipment','New address only','Maria Reyes','maria@acerph.com','09998887777','2025-08-01 22:31:44','2025-08-01 22:40:58',1,1);
/*!40000 ALTER TABLE `vendors` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-21  1:45:49
